.hero__container {
    width: 390px;
    height: 600px;
    background-image: url(/images/Rectangle1.jpg);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    box-sizing: border-box;
  }