.hero__container {
  width: 390px;
  background-image: url(/images/Rectangle1.jpg);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  box-sizing: border-box;
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #fdfdfd;
  margin-top: 234px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  border: none;
  padding: 16px 36px;
  border-radius: 4px;
  background-color: #FDFDFD;
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo__icon {
  fill: black;
}
